.vscode/
coverage/
lib/
src/
docs/
examples/
test/
node_modules/
.nyc_output/
.github/
.editorconfig
.eslintrc.json
.gitignore
.gitattributes
jestconfig.json
tsconfig.json
tslint.json
package-lock.json
*.tgz
*.log
