.github/
.nyc_output/
.vscode/
coverage/
lib/
src/
docs/
examples/
test/
node_modules/
.editorconfig
.eslintrc.json
.eslintignore
.gitignore
.gitattributes
.prettierrc
.prettierignore
jestconfig.json
tsconfig.json
tslint.json
package-lock.json
*.tgz
*.log
yarn.lock
